@import "variables";

.card-course-item {
  height: 100%;
}
.user-avatar {
  width: 28px;
  height: 28px;
  border-radius: 60%;
  margin-right: 4px;
}
.option-action {
  width: 140px;
  margin: 0 16px;
}
