<div class="mt-4">
  <h3>Khóa học của tôi</h3>
  {{#if deletedCount}}
  <a href="/me/trash/courses">Thùng rác ({{deletedCount}})</a>
  {{/if}}
  <div class="mt-4 d-flex align-items-center">
    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="checkbox-all" />
      <label class="form-check-label" for="checkbox-all"> Chọn tất cả </label>
    </div>
    <select class="form-control form-control-sm option-action" id="">
      <option>-- Hành động --</option>
      <option>Xóa</option>
    </select>
    <div class="btn btn-primary btn-sm btn-submit-option disabled">
      Thực hiện
    </div>
  </div>
  <table class="table mt-4">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Tên khóa học</th>
        <th scope="col">Trình độ</th>
        <th scope="col">Thời gian xóa</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      {{#each courses}}
      <tr>
        <th scope="row">
          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              name="courseIds[]"
              value="{{this._id}}"
            />
            <label class="form-check-label"> {{sum @index 1}} </label>
          </div>
        </th>
        <td>{{this.name}}</td>
        <td>{{this.level}}</td>
        <td>{{this.deletedAt}}</td>
        <td>
          <a href="/courses/{{this._id}}/edit" class="btn btn-link">Sửa</a>
          <a
            href="/courses/{{this._id}}"
            class="btn btn-link text-danger"
            data-toggle="modal"
            data-target="#delete-course-modal"
            data-id="{{this._id}}"
            >Xóa</a
          >
        </td>
      </tr>
      {{else}}
      <tr>
        <td colspan="5" class="text-center">
          Bạn chưa đăng khóa học nào.
          <a href="/courses/create"> Đăng khóa học</a>
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>

<!-- confirm delete course-->
<div id="delete-course-modal" class="modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Xóa khóa học?</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Bạn có chắc chắn muốn xóa khóa học này?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Hủy
        </button>
        <button id="btn-delete-course" type="submit" class="btn btn-danger">
          Xóa bỏ
        </button>
      </div>
    </div>
  </div>
</div>

<!-- delete course form-->
<form name="delete-course-form" method="POST"></form>
<script>
  document.addEventListener("DOMContentLoaded", function () {
    var btnDeleteCourse = document.getElementById("btn-delete-course");
    var deleteForm = document.forms["delete-course-form"];
    var courseId;
    var checkboxAll = $("#checkbox-all");
    var courseItemCheckbox = $('input[name="courseIds[]"]');
    var checkAllSubmitBtn = $(".btn-submit-option");

    $("#delete-course-modal").on("show.bs.modal", function (event) {
      var button = $(event.relatedTarget);
      courseId = button.data("id");
    });
    btnDeleteCourse.onclick = function () {
      deleteForm.action = "/courses/" + courseId + "?_method=DELETE";
      deleteForm.submit();
    };
    checkboxAll.change(function () {
      var isCheckedAll = $(this).prop("checked");
      courseItemCheckbox.prop("checked", isCheckedAll);
      renderCheckAllSubmitBtn();
    });
    courseItemCheckbox.change(function () {
      var isCheckedAll =
        courseItemCheckbox.length ===
        $('input[name="courseIds[]"]:checked').length;
      checkboxAll.prop("checked", isCheckedAll);
      renderCheckAllSubmitBtn();
    });
    function renderCheckAllSubmitBtn() {
      var checkedCount = $('input[name="courseIds[]"]:checked').length;
      if (checkedCount > 0) {
        checkAllSubmitBtn.removeClass("disabled");
      } else checkAllSubmitBtn.addClass("disabled");
    }
  });
</script>
